<style type="text/css">

    body > .grid {
        height: 100%;
    }

    #editpage {
        margin-top: 100px;
    }
</style>

<div id="editpage">
    <div class="ui grid">
        {{ .xsrfdata }}
        <div class="one wide column"></div>
        <div class="seven wide column">
            <!--<button @click="addnewpost()" class="ui secondary button">Okay</button>-->
            <component is="header-section" :avatar_img="avatar_img" :input_title="head_title"
                       @update-title="updateTitleValue"></component>
            <h2 class="centered compact ui header">
            <div class="ui labels">
                <a v-if="city" class="ui label"> ${city} </a>
                <a v-if="weatherInfo.info" class="ui teal label"> ${weatherInfo.info} </a>
                <a v-if="weatherInfo.temperature" class="ui olive label"> ${weatherInfo.temperature}° </a>
            </div>
            </h2>

            <div class="ui divider"></div>

            <div v-for="eachElement in allElements" :key="eachElement.finder">
                <div style="margin-top: 5px; margin-bottom: 5px;" class="ui row centered segments">
                    <div class="ui clearing segment">
                        <div class="ui right floated red small button" v-bind:finder="eachElement.finder"
                             v-on:click='removeElement(eachElement.finder)'>删除
                        </div>
                    </div>
                    <component :is="eachElement.component" :tar_obj="eachElement"></component>
                </div>
            </div>

            <div v-if="allElements.length > 0"><button @click="showModal()"  :class="isLoading ? 'loading' : ''" class="ui primary button">保存</button></div>

        </div>

        <div class="one wide column"></div>
        <div class="six wide column ">
            <div class="ui segment row">
                <a v-on:click="addToElements('multi')" class="ui red left ribbon label"><i
                        class="plus icon"></i>添加图文</a>
                <p></p>
                <div id="img-article">
                    <img class="ui small left floated image" src="../../static/assets/images/image.png">
                    <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est
                        autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea
                        laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex
                        natum rebum iisque.</p>
                </div>
            </div>

            <div class="ui segment row">
                <a v-on:click="addToElements('para')" class="ui orange left ribbon label"><i class="plus icon"></i>添加段落</a>
                <p></p>
                <div id="article">
                    <img class="ui image" src="../../static/assets/images/short-paragraph.png">
                </div>
            </div>

            <div class="ui segment row">
                <a v-on:click="addToElements('image')" class="ui teal left ribbon label"><i
                        class="plus icon"></i>添加图片</a>
                <p></p>
                <div id="img">
                    <img class="ui image" src="../../static/assets/images/image.png">
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>

<div class="ui small basic modal">
    <div class="ui icon header"><i class="large edit icon"></i>提交，记录这一天</div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 不，继续编辑 </div>
        <div class="ui green ok inverted button"><i class="checkmark icon"></i> 是的 </div>
    </div>
</div>

<script src="../../static/js/onestory/component/sections/headersection.js"></script>
<script src="../../static/js/onestory/component/sections/imagesection.js"></script>
<script src="../../static/js/onestory/component/sections/multisection.js"></script>
<script src="../../static/js/onestory/component/sections/paragraphsection.js"></script>

<script type="text/javascript">


    $(function () {

        //sections declear
        Vue.component('header-section', HeaderSection);
        Vue.component('image-section', ImageSection);
        Vue.component('paragraph-section', ParagraphSection);
        Vue.component('multi-section', MultiSection);

        var today = new Date();
        var thisMonth = today.getMonth() + 1;
        var thispage = new Vue({
            delimiters: ['${', '}'],
            el: '#editpage',
            data: {
                show_content_loading: false,
                cleardata: true,
                pass_name: '',
                pass_word: '',
                counter: 0,
                return_info: {},
                passid: '',
                nickname: '',
                avatar_img: '/static/assets/images/avatar/tom.jpg',
                head_title: '',
                allElements: [], //组件池
                pickeddate: getToday(),
                weatherInfo:{},
                city:"",
                isLoading: false,
            },

            methods: {
                getmylocation: function () {
                    getCityNameByLocation(this.getWeather);
                },
                getWeather: function (city) {
                    var _self = this;
                    _self.city = city;
                    var inputdata = {};
                    inputdata["city"] = _self.city;
                    $.ajax({
                        type: "GET",
                        url:  "/test",
                        data: inputdata,
                        dataType: "json",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            if(data.ErrNo == 0){
                                _self.weatherInfo = data.Data;
                            }
                        },
                    });

                },
                addToElements: function (type) {
                    var element = {};
                    var _self = this;

                    switch (type) {
                        case 'image':
                            element.namespace = 'image';
                            element.component = 'image-section';
                            element.upload_img = '/static/assets/images/image.png';
                            element.upload_key = '';
//                            element.upload_file = '';
                            break;
                        case 'para':
                            element.namespace = 'para';
                            element.component = 'paragraph-section';
                            element.para = '';
                            break;
                        case 'multi':
                            element.namespace = 'multi';
                            element.component = 'multi-section';
                            element.upload_img = '/static/assets/images/image.png';
                            element.upload_key = '';
//                            element.upload_file = '';
                            element.para = '';
                            break;
                        default:
                            return;
                    }
                    _self.counter = _self.counter + 1;
                    element.finder = _self.counter;
                    _self.allElements.push(element);
                },
                removeElement: function (finder) {
                    var _self = this
                    console.log(_self.allElements)

                    $.each(_self.allElements, function (index, obj) {
                        if (finder == obj.finder) {
                            _self.allElements.splice(index, 1);
                            console.log(_self.allElements)
                            return false;
                        }
                    });
                },
                showModal: function () {
                    var _self = this;

                    $('.ui.basic.modal')
                        .modal({
                            closable  : false,
                            onDeny    : function(){

                            },
                            onApprove : function() {
                                _self.addnewpost()
                            }
                        })
                        .modal('show')
                    ;
                },
                updateTitleValue: function (val) {
                    var _self = this;
                    _self.head_title = val;
                },
                addnewpost: function(){
                    var _self = this;
                    var formdata = new FormData();
                    var ref = {};
                    formdata.append('_xsrf', getXsrfCookie("_xsrf"));
                    formdata.append('content' , JSON.stringify(_self.allElements));
                    formdata.append('header',  _self.head_title);
                    ref['city'] = _self.city;
                    ref['weather']=  _self.weatherInfo;
                    formdata.append('ref', JSON.stringify(ref));
                    console.log(formdata);
                    _self.isLoading = true;
                    $.ajax({
                        type: "POST",
                        url:  "/post/adduserpost",
                        data: formdata,
                        cache : false,
                        contentType : false,
                        processData : false,
                        dataType: "json",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            console.log(data);
                            if(data.ErrNo == 0){

                            }
                        },
                        complete:function () {
                            _self.isLoading = false;
                            location.href="/main"
                        }
                    });
                },
                showobj: function () {
                    var _self = this
                    console.log(_self.head_title);
                },

            },
            created :function() {
                this.getmylocation();
            },
        })

    });

</script>
