<style type="text/css">

    body > .grid {
        height: 100%;
    }

    #editpage {
        padding-top: 100px;
    }

    #saving-day {
        padding: 20px 0px;
    }
</style>


<div id="sider-tab" class="ui bottom vertical inverted sidebar labeled icon menu">
    <a id="addImage" class="item">
        <i class="camera retro icon"></i>
        添加图片
    </a>
    <a id="addPara" class="item">
        <i class="newspaper icon"></i>
        添加文字
    </a>
</div>

<div id="editpage" class="Site-content dimmed pusher" style="min-height: 600px; padding-bottom: 50px; overflow:scroll;">

    <div class="ui grid">
        {{ .xsrfdata }}
        <div class="three wide column"></div>
        <div class="ten wide column" style="min-height: 500px;">
            <component is="header-section" :avatar_img="avatar_img" :input_title="head_title"
                       @update-title="updateTitleValue"></component>
            <h2 class="centered compact ui header">
                <div class="ui labels">
                    <a v-if="city" class="ui label"> ${city} </a>
                    <a v-if="weatherInfo.weatherDesc" class="ui teal label"> ${weatherInfo.weatherDesc} </a>
                    <a v-if="weatherInfo.temperature" class="ui olive label"> ${weatherInfo.temperature}° </a>
                </div>
            </h2>

            <div class="ui divider"></div>

            <div v-for="eachElement in allElements" :key="eachElement.finder">
                <div style="margin-top: 5px; margin-bottom: 5px;" class="ui row centered segments">
                    <div class="ui clearing segment">
                        <div class="ui right floated red small button" v-bind:finder="eachElement.finder"
                             v-on:click='removeElement(eachElement.finder)'>删除
                        </div>
                    </div>
                    <component :is="eachElement.component" :tar_obj="eachElement"></component>
                </div>
            </div>

            <div class="centered compact ui header" id="saving-day">
                <div class="centered ui buttons">
                    <button class="ui button" @click="callSideBar()">编辑添加</button>
                    <div class="or"></div>
                    <button :class="isSaving" @click="addnewpost()">${Saving.text}</button>
                </div>
            </div>
        </div>

        <div class="three wide column"></div>
    </div>

</div>

<script src="../../static/js/onestory/component/sections/headersection.js"></script>
<script src="../../static/js/onestory/component/sections/imagesection.js"></script>
<script src="../../static/js/onestory/component/sections/multisection.js"></script>
<script src="../../static/js/onestory/component/sections/paragraphsection.js"></script>

<script type="text/javascript">
    Vue.use(Toasted);
    //sections declear
    Vue.component('header-section', HeaderSection);
    Vue.component('image-section', ImageSection);
    Vue.component('paragraph-section', ParagraphSection);
    Vue.component('multi-section', MultiSection);

    var today = new Date();
    var thisMonth = today.getMonth() + 1;
    var thispage = new Vue({
        delimiters: ['${', '}'],
        el: '#editpage',
        data: {
            show_content_loading: false,
            cleardata: true,
            pass_name: '',
            pass_word: '',
            counter: 0,
            return_info: {},
            passid: '',
            nickname: '',
            avatar_img: '/static/assets/images/avatar/tom.jpg',
            head_title: '',
            allElements: [], //组件池
            pickeddate: getToday(),
            weatherInfo: {},
            city: "",
            isLoading: false,
            isSavingStatus: 'init',
            Saving: {"class": "hand paper icon", "text": "保存这一天"},
            Saving_Map: {
                "init": {
                    "class": "hand paper icon", "text": "保存这一天"
                },
                "working": {
                    "class": "hand pointer icon", "text": "保存中"
                },
                "succ": {
                    "class": "hand peace icon", "text": "保存成功"
                },
                "fail": {
                    "class": "hand pointer icon", "text": "保存发生错误，再试一次"
                },
            }
        },

        methods: {
            getmylocation: function () {
                getCityNameByLocation(this.getWeather);
            },
            getWeather: function (city) {
                var _self = this;
                _self.city = city;
                var inputdata = {};
                inputdata["city"] = _self.city;
                $.ajax({
                    type: "GET",
                    url: "/wea",
                    data: inputdata,
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        if (data.ErrNo == 0) {
                            _self.weatherInfo = data.Data[0];
                            _self.city = data.Data[0].city
                            setCookie("city", _self.city, 2);
                        }
                    },
                });

            },
            addToElements: function (type) {
                var element = {};
                var _self = this;

                switch (type) {
                    case 'image':
                        element.namespace = 'image';
                        element.component = 'image-section';
                        element.upload_img = '/static/assets/images/image.png';
                        element.upload_key = '';
//                            element.upload_file = '';
                        break;
                    case 'para':
                        element.namespace = 'para';
                        element.component = 'paragraph-section';
                        element.para = '';
                        break;
                    case 'multi':
                        element.namespace = 'multi';
                        element.component = 'multi-section';
                        element.upload_img = '/static/assets/images/image.png';
                        element.upload_key = '';
//                            element.upload_file = '';
                        element.para = '';
                        break;
                    default:
                        return;
                }
                _self.counter = _self.counter + 1;
                element.finder = _self.counter;
                _self.allElements.push(element);
            },
            removeElement: function (finder) {
                var _self = this
                console.log(_self.allElements)

                $.each(_self.allElements, function (index, obj) {
                    if (finder == obj.finder) {
                        _self.allElements.splice(index, 1);
                        console.log(_self.allElements)
                        return false;
                    }
                });
            },
            showModal: function () {
                $('.ui.modal')
                    .modal('setting', 'closable', false)
                    .modal('show')
                ;
            },
            updateTitleValue: function (val) {
                var _self = this;
                _self.head_title = val;
            },
            addnewpost: function () {
                var _self = this;
                var formdata = new FormData();
                var ref = {};
                formdata.append('_xsrf', getXsrfCookie("_xsrf"));
                formdata.append('content', JSON.stringify(_self.allElements));
                formdata.append('header', _self.head_title);
                ref['city'] = _self.city;
                ref['weather'] = _self.weatherInfo;
                formdata.append('ref', JSON.stringify(ref));
                _self.isSavingStatus = "working";
                $.ajax({
                    type: "POST",
                    url: "/post/adduserpost",
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        if (data.ErrNo == 0) {
                            var newId = data.Data
                            Vue.toasted.show("保存成功！", {
                                theme: "primary",
                                position: "top-center",
                                duration : 2000
                            });
                            _self.isSavingStatus = "succ";
                            setTimeout(function () {
                                window.location.href="/show"
                            },1000);
                        } else {
                            Vue.toasted.show("保存失败！", {
                                theme: "primary",
                                position: "top-center",
                                duration : 3000
                            });
                            _self.isSavingStatus = "fail";
                        }
                    },
                    complete: function () {
                        _self.isLoading = false;
                    },
                    error: function () {
                        _self.isSavingStatus = "fail";
                    }
                });
            },
            callSideBar: function () {
                $('#sider-tab').sidebar('toggle');
            },
            showobj: function () {
                var _self = this
                console.log(_self.head_title);
            },
        },
        computed: {

            isSaving: function () {
                var _self = this
                switch (_self.isSavingStatus) {
                    case "working":
                        _self.Saving = _self.Saving_Map["working"];
                        return "loading ui primary button disabled";
                        break;
                    case "init":
                        _self.Saving = _self.Saving_Map["init"];
                        return "ui primary button";
                        break;
                    case "succ":
                        _self.Saving = _self.Saving_Map["succ"];
                        return "ui positive button";
                        break;
                    default:
                        _self.Saving = _self.Saving_Map["fail"];
                        return "ui red button";
                        break;
                }
            }

        },
        created: function () {
            this.getmylocation();
            this.addToElements('para');
        },

    });

    $("#addPara").click(function () {
        thispage.addToElements('para');
        $('#sider-tab').sidebar('hide');
    });

    $("#addImage").click(function () {
        thispage.addToElements('image');
        $('#sider-tab').sidebar('hide');
    });


</script>
