<style>

    .ui.footer.segment {
        /*margin: 5em 0em 0em;*/
        padding: 2em 0em;
    }
    @media only screen and (max-width: 700px) {
        .footer.segment {
        min-height: 200px;
      }
    }

</style>
<div id="footer-all" class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <img src="../../static/img/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">一日记</a>
            {{/*<a class="item" href="#"></a>*/}}
            <a class="item" href="#">联系我们 onestory90@163.com</a>
            {{/*<a class="item" href="#"></a>*/}}
        </div>
    </div>
</div>