<style type="text/css">

    body > .grid {
        height: 100%;
    }

    #center {
        margin-top: 100px;
    }

    .column {
        max-width: 500px;
    }
    #loginpage{
        min-height: 500px;
    }
</style>

<div id="loginpage">
    <div id="center" class="ui middle aligned center aligned grid">

        <div class="two wide column">
        </div>
        <div class="twelve wide column">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <img src="../../static/assets/images/logo.png" class="image">
                        <div class="content">
                            登录账户
                        </div>
                    </h2>
                    <form class="ui large form" action="" method="POST">
                        <div class="ui stacked segment">
                            <!--{{ .xsrfdata }}-->
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="email" placeholder="邮箱" v-model="email">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码" v-model="pass_word">
                                </div>
                            </div>
                            <div class="ui error message"></div>

                            <div v-on:click="submitLogin" class="ui fluid large teal animated fade submit button"
                                 tabindex="0">
                                <div class="hidden content">确认<i v-cloak v-show="login_loading" class="notched circle loading icon"></i></div>
                                <div class="visible content">登录</div>
                            </div>
                        </div>


                    </form>

                    <div class="ui horizontal divider">
                        Or
                    </div>

                    <div v-on:click="register" class="ui fluid large animated fade button" tabindex="0">
                        <div class="hidden content">快来加入吧</div>
                        <div class="visible content">还没有账号?</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        Vue.use(Toasted);

        var thispage = new Vue({
            delimiters: ['${', '}'],
            el: '#loginpage',
            data: {
                email: '',
                pass_word: '',
                counter: 0,
                return_info: {},
                passid: '',
                nickname: '',
                show_alert:null,
                alert_info: {'title':'Ooops', 'msg':''},
                login_loading: false,
            },

            methods: {
                submitLogin: function () {
                    $('.ui.error.message').empty();

                    var _self = this
                    this.counter += 1
                    var inputdata = {}

                    inputdata['_xsrf'] = getXsrfCookie("_xsrf");
                    inputdata['email'] = this.email
                    inputdata['password'] = this.pass_word
                    $.ajax({
                        type: "Post",
                        url: "/user/logintosys",
                        data: inputdata,
                        dataType: "json",
                        beforeSend:function (){
                            _self.login_loading = true;
                        },
                        success: function (data) {
                            if (data.ErrNo != 0) {
                                $('.ui.form').form('add errors', [data.ErrMsg]);
                            }else {
                                Vue.toasted.show("登录成功!", {
                                    theme: "primary",
                                    position: "top-center",
                                    duration: 3000,
                                });
                                setTimeout(function () {
                                    window.location.href="/show"
                                },1000);
                            }
                        },
                        error: function (e) {
                            _self.show_alert = 'fail';
                            _self.alert_info.msg = "登录失败";
                        },
                        complete: function () {
                            _self.login_loading = false;
                        },
                    })
                },
                register: function () {
                    window.location.href="/user/register"

                }
            }
        })

    });

</script>

