<style type="text/css">

    body > .grid {
        height: 100%;
    }

    #center {
        margin-top: 100px;
    }

    .column {
        max-width: 500px;
    }

</style>

<div id="loginpage">
    <div id="center" class="ui middle aligned center aligned grid">

        <div class="two wide column">
        </div>
        <div class="twelve wide column">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <img src="../../static/assets/images/logo.png" class="image">
                        <div class="content">
                            Log-in to your account
                        </div>
                    </h2>
                    <form class="ui large form" action="" method="POST">
                        <div class="ui stacked segment">
                            {{ .xsrfdata }}
                            <div v-cloak v-if="show_alert == 'fail'" class="ui orange message">
                                <div class="header"><i class="warning icon"></i> ${alert_info.title}</div>
                                <ul class="list">
                                    <li>${ alert_info.msg }</li>
                                </ul>
                            </div>
                            <div v-cloak v-if="show_alert == 'succ'" class="ui info message">
                                <div class="header"><i class="warning icon"></i> ${alert_info.title}</div>
                                <ul class="list">
                                    <li>${ alert_info.msg }</li>
                                </ul>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="phone" placeholder="Phone" v-model="phone">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Password" v-model="pass_word">
                                </div>
                            </div>

                            <div v-on:click="submitLogin" class="ui fluid large teal animated fade submit button"
                                 tabindex="0">
                                <div class="hidden content">确认<i v-cloak v-show="login_loading" class="notched circle loading icon"></i></div>
                                <div class="visible content">登录</div>
                            </div>
                        </div>

                        <div class="ui error message"></div>

                    </form>
                    <div v-on:click="register" class="ui fluid large animated fade button" tabindex="0">
                        <div class="hidden content">快来加入吧</div>
                        <div class="visible content">还没有账号?</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var thispage = new Vue({
            delimiters: ['${', '}'],
            el: '#loginpage',
            data: {
                phone: '',
                pass_word: '',
                counter: 0,
                return_info: {},
                passid: '',
                nickname: '',
                show_alert:null,
                alert_info: {'title':'Ooops', 'msg':''},
                login_loading: false,
            },

            methods: {
                submitLogin: function () {
                    var _self = this
                    this.counter += 1
                    var inputdata = {}

                    inputdata['_xsrf'] = getCookie("_xsrf");
                    inputdata['phone'] = this.phone
                    inputdata['password'] = this.pass_word
                    $.ajax({
                        type: "Post",
                        url: "/user/logintosys",
                        data: inputdata,
                        dataType: "json",
                        beforeSend:function (){
                            _self.login_loading = true;
                        },
                        success: function (data) {
                            console.log(data)
                            if (data.ErrNo != 0) {
                                _self.show_alert = 'fail';
                                _self.alert_info.msg = data.ErrMsg;
                            } else {
                                _self.return_info = data.Data;
                                _self.alert_info.msg = _self.return_info.Nick_name;
                                _self.alert_info.title = _self.return_info.Passid;

                                _self.passid = _self.return_info.Passid;
                                _self.nickname = _self.return_info.Nick_name;
                                _self.show_alert = 'succ';

                            }
                        },
                        error: function (e) {
                            _self.show_alert = 'fail';
                            _self.alert_info.msg = "登录失败";
                        },
                        complete: function () {
                            _self.login_loading = false;
                        },
                    })
                },
                register: function () {
                    this.counter2 += 3
                }
            }
        })

    });

</script>

