<link  href="../../static/lib/cropperjs/cropper.css" rel="stylesheet">
<script src="../../static/lib/cropperjs/cropper.js"></script>
<style type="text/css">
    img {
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }
    body > .grid {
        height: 100%;
    }

    #center {
        min-height: 500px;
    }

    .column {
        max-width: 500px;
    }

</style>
<div id="profilepage">
    <div id="center" class="ui middle aligned center aligned grid">

        <div class="two wide column">
        </div>
        <div class="twelve wide column">
            <div class="ui middle aligned center aligned grid" style="margin:80px 0px;">
                <div class="column">

                    <h2 class="ui teal image header">
                        <!--<img src="../../static/img/logo.png" class="image">-->
                        <div class="content">
                            我的账户
                        </div>
                    </h2>
                    <div class="ui horizontal divider">
                        onestory
                    </div>
                    <form class="ui large form" action="" style="text-align: left">
                        <div :class="loaded ? '': 'active'" class="ui inverted dimmer">
                            <div class="ui text loader">Loading</div>
                        </div>

                        <div class="ui stacked segment">

                            <div v-if="loaded" class="field">
                                <component is="image-picker" :tar_obj="avatarInfo"></component>
                            </div>

                            <div class="required field">
                                <label>邮箱</label>
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" disabled name="email" placeholder="邮箱" v-model="email">
                                </div>
                            </div>
                            <div class="required field">
                                <label>昵称</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="nickname" placeholder="昵称" v-model="nickname">
                                </div>
                            </div>
                            <div class="required field">
                                <label>修改密码</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码" v-model="pass_word">
                                </div>
                            </div>
                            <div class="required field">
                                <label>确认修改密码</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password_re" placeholder="重新输入密码" v-model="re_pass_word">
                                </div>
                            </div>
                            <div class="ui error message"></div>
                            <div @click="submitUpdate" class="ui fluid large teal animated fade submit button"
                                 tabindex="0">
                                <div class="hidden content">确认修改<i v-cloak v-show="request_loading" class="notched circle loading icon"></i></div>
                                <div class="visible content">提交</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="two wide column">
        </div>
    </div>
</div>
<div id="progress-runner" class="ui red bottom attached progress">
    <div class="bar"></div>
</div>


<script src="../../static/js/onestory/component/sections/imagepicker.js"></script>
<script type="text/javascript">

    Vue.component('image-picker', ImagePicker);
    Vue.use(Toasted);

    $(function () {
        var thispage = new Vue({
            delimiters: ['${', '}'],
            el: '#profilepage',
            data: {
                phone: '',
                email: '',
                pass_word: '',
                re_pass_word: '',
                return_info: {},
                passid: '',
                active: 0,
                nickname: '',
                loaded: false,
                avatarInfo: {'img': false},
                request_loading: false
            },

            methods: {
                submitUpdate: function () {
                    var _self = this
                    var inputdata = _self.validatForm()
                    if(!inputdata){
                        return;
                    }

                    $.ajax({
                        type: "Post",
                        url: "/user/updateuserprofile",
                        data: inputdata,
                        dataType: "json",
                        beforeSend:function (){
                            _self.request_loading = true

                        },
                        success: function (data) {
                            console.log(data);
                            if (data && data.ErrNo == 0) {
                                Vue.toasted.show("更新成功", {
                                    theme: "primary",
                                    position: "top-center",
                                    duration: 3000,
                                });
                            } else {
                                Vue.toasted.show("更新失败，" + data.ErrMsg, {
                                    theme: "primary",
                                    position: "top-center",
                                    duration: 3000,
                                });
                                $('.ui.form').form('add errors', [data.ErrMsg]);
                            }
                        },
                        error: function (e) {
                            Vue.toasted.show("更新失败", {
                                theme: "primary",
                                position: "top-center",
                                duration: 3000,
                            });
                        },
                        complete: function () {
                            _self.request_loading = false

                        },
                    })
                },

                gotoLogin: function () {
                    window.location.href="/user/logintosys"
                },

                validatForm: function () {
                    $('.ui.error.message').empty();
                    $('.ui.form .field.error').removeClass('error');
                    var _self = this
                    var inputdata = {}
                    inputdata['_xsrf'] = getXsrfCookie("_xsrf");

                    var errorList = [];
                    if(_self.pass_word > 0) {
                        if(_self.pass_word.length < 6) {
                            $('.ui.form').form('add prompt', 'password');
                            errorList.push("密码不能少于6位")
                        }
                        if(_self.pass_word != _self.re_pass_word) {
                            $('.ui.form').form('add prompt', 'password_re');
                            errorList.push("密码输入不一致")
                        }
                        inputdata['password'] = _self.pass_word
                    }

                    if(_self.nickname.length < 1) {
                        $('.ui.form').form('add prompt', 'nickname');
                        errorList.push("昵称不能为空")
                    }
                    inputdata['nickname'] = _self.nickname

                    if(errorList.length > 0) {
                        $('.ui.form').form('add errors', errorList);
                        return false;
                    }

                    if(_self.avatarInfo.img) {
                        inputdata['avatar'] = _self.avatarInfo.img
                    }

                    return inputdata
                },

                setUserData :function (data) {
                    var _self = this
                    _self.loaded = true;
                    if(data && data.ErrNo == 0){
                        var profileData = data.Data
                        _self.avatarInfo.img = profileData.Avatar
                        _self.email = profileData.Email
                        _self.nickname = profileData.Nick_name
                        closeProgressRun($('#progress-runner'));

                    } else {
                        _self.alertError()
                    }
                },

                alertError :function () {
                    closeProgressRun($('#progress-runner'));
                    _self.loaded = true;
                    Vue.toasted.show("加载数据失败，请刷新重试", {
                        theme: "primary",
                        position: "top-center",
                        duration: 3000,
                    });
                }
            },

            created: function () {
                if (!this.$data.avatarInfo.img){
                    this.avatarInfo.img = '../../static/assets/images/avatar/tom.jpg';
                }
                autoProgressRun($('#progress-runner'));
                loadUserInfo(this.setUserData, this.alertError);
            }
        });
    });

</script>

