<link  href="../../static/lib/cropperjs/cropper.css" rel="stylesheet">
<script src="../../static/lib/cropperjs/cropper.js"></script>
<style type="text/css">
    img {
        max-width: 100%; /* This rule is very important, please do not ignore this! */
    }
    body > .grid {
        height: 100%;
    }

    #center {
        margin-top: 40px;
        min-height: 500px;
    }

    .column {
        max-width: 500px;
    }

</style>
<div id="registerpage" class="Site-content">
    <div id="center" class="ui middle aligned center aligned grid">

        <div class="two wide column">
        </div>
        <div class="twelve wide column">
            <div class="ui middle aligned center aligned grid" style="margin:80px 0px;">
                <div class="column">

                    <h2 class="ui teal image header">
                        <img src="../../static/img/logo.png" class="image">
                        <div class="content">
                            创建账户
                        </div>
                    </h2>
                    <div class="ui horizontal divider">
                        onestory
                    </div>
                    <form class="ui large form" action="" style="text-align: left">
                        <div class="ui stacked segment">
                            <div class="field">
                                <component is="image-picker" :tar_obj="avatarInfo"></component>
                            </div>

                            <div class="required field">
                                <label>邮箱</label>
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" name="email" placeholder="邮箱" v-model="email">
                                </div>
                            </div>
                            <div class="required field">
                                <label>昵称</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="nickname" placeholder="昵称" v-model="nickname">
                                </div>
                            </div>
                            <div class="required field">
                                <label>密码</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码" v-model="pass_word">
                                </div>
                            </div>
                            <div class="required field">
                                <label>确认密码</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password_re" placeholder="重新输入密码" v-model="re_pass_word">
                                </div>
                            </div>
                            <div class="ui error message"></div>
                            <div v-on:click="submitRegister" class="ui fluid large teal animated fade submit button"
                                 tabindex="0">
                                <div class="hidden content">立即注册<i v-cloak v-show="request_loading" class="notched circle loading icon"></i></div>
                                <div class="visible content">填写完成</div>
                            </div>
                        </div>
                    </form>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div @click="gotoLogin" class="ui fluid large animated fade button" tabindex="0">
                        <div class="hidden content">立即登录</div>
                        <div class="visible content">已经有账号?</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
        </div>
    </div>
</div>

<script src="../../static/js/onestory/component/sections/imagepicker.js"></script>
<script type="text/javascript">
    Vue.component('image-picker', ImagePicker);

    $(function () {
        var thispage = new Vue({
            delimiters: ['${', '}'],
            el: '#registerpage',
            data: {
                phone: '',
                email: '',
                pass_word: '',
                re_pass_word: '',
                return_info: {},
                passid: '',
                nickname: '',
                show_alert:null,
                request_loading: false,
                avatarInfo: {'img': false}
            },

            methods: {
                submitRegister: function () {
                    var _self = this
                    var inputdata = _self.validatForm()
                    if(!inputdata){
                        return;
                    }
                    $.cookie('passid', null);
                    $.ajax({
                        type: "Post",
                        url: "/user/adduserprofile",
                        data: inputdata,
                        dataType: "json",
                        beforeSend:function (){
                            _self.request_loading = true;
                        },
                        success: function (data) {
                            console.log(data);
                            if (data.ErrNo != 0) {
                                $('.ui.form').form('add errors', [data.ErrMsg]);
                            } else {
                                window.location.href="/show"
                            }
                        },
                        error: function (e) {
                        },
                        complete: function () {
                            _self.request_loading = false;
                        },
                    })
                },
                gotoLogin: function () {
                    window.location.href="/user/logintosys"
                },
                validatForm: function () {
                    $('.ui.error.message').empty();
                    $('.ui.form .field.error').removeClass('error');
                    var _self = this
                    var errorList = [];
                    if(_self.pass_word.length < 6){
                        $('.ui.form').form('add prompt', 'password');
                        errorList.push("密码不能少于6位")
                    }
                    if(_self.email.length < 1){
                        $('.ui.form').form('add prompt', 'email');
                        errorList.push("邮箱不能为空")
                    }
                    if(_self.nickname.length < 1){
                        $('.ui.form').form('add prompt', 'nickname');
                        errorList.push("昵称不能为空")
                    }
                    if(_self.pass_word != _self.re_pass_word){
                        $('.ui.form').form('add prompt', 'password_re');
                        errorList.push("密码输入不一致")
                    }
                    if(errorList.length > 0){
                        $('.ui.form').form('add errors', errorList);
                        return false;
                    }
                    var inputdata = {}
                    inputdata['_xsrf'] = getXsrfCookie("_xsrf");
                    inputdata['email'] = _self.email
                    inputdata['password'] = _self.pass_word
                    inputdata['nickname'] = _self.nickname
                    if(_self.avatarInfo.img){
                        inputdata['avatar'] = _self.avatarInfo.img
                    }
                    return inputdata
                }
            },
            created: function () {
                if (!this.$data.avatarInfo.img){
                    this.avatarInfo.img = '../../static/assets/images/avatar/tom.jpg';
                }
            }
        });

    });
</script>

