<style type="text/css">
    body > .grid {
        height: 100%;
    }

    #place-holder {
        padding-top: 100px;
    }

    #showpage {
        font-size: 20px;
    }

    .ui.text.container {
        font-size: 1.3rem;
        text-align: center;
    }
</style>
<div id="place-holder"></div>

<div id="showpage" class="Site-content">
    <div v-if="detail" class="ui grid" style="min-height: 400px; padding-bottom: 50px;">
            <div class="three wide column"></div>
            <div id="detail-section" class="ten wide column">
                <div v-show="loaded">
                    <div class="ui centered grid">
                        <div class="left floated five wide column">
                            <div><img class="ui avatar image" :src="userInfo.Avatar"> ${pickDate}</div>
                        </div>
                        <div class="right floated five wide column">
                            <div class="ui labels">
                                <a v-if="city" class="ui label"> ${city} </a>
                                <a v-if="weatherInfo.weatherDesc" class="ui teal label"> ${weatherInfo.weatherDesc} </a>
                                <a v-if="weatherInfo.temperature" class="ui olive label"> ${weatherInfo.temperature}° </a>
                            </div>
                        </div>
                    </div>

                    <h2 class="centered compact ui header">
                        <h2 class="ui centered header">${headTitle}</h2>
                    </h2>
                    <div class="ui divider"></div>

                    <div v-for="eachElement in allElements" :key="eachElement.finder">
                        <div style="margin-top: 30px; margin-bottom: 30px;" class="ui vertical stripe segment">
                            <div v-if="eachElement.component == 'paragraph-section'" class="ui text container">
                                <p v-html="replaceBr(eachElement.para)"></p>
                            </div>
                            <div v-else-if="eachElement.component == 'image-section'" class="ui container">
                                <img class="ui centered rounded image" :src="eachElement.upload_img">
                            </div>
                            <div v-else>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="three wide column"></div>
    </div>


    <div v-else class="ui grid" style="min-height: 460px; padding-bottom: 50px;">
        <div class="three wide column" ></div>
        <div id="main-section" class="ten wide column" style="height: 100%">
            <div class="ui grid">
                <div class="ten wide column" style="display: flex; flex-direction: column; min-height: 460px;">
                    <div class="ui grid"  style="flex: 1; padding-top: 25px; height: 100%">
                        <div class="ui relaxed divided list">
                            <div v-for="eachPost in allList" class="item">
                                <i class="large red remove bookmark middle aligned icon"></i>
                                <div class="content">
                                    <a class="header" @click="openDetailInNewPage(eachPost.Id)">${eachPost.Header}</a>
                                    <div class="description">${eachPost.year}/${eachPost.month}/${eachPost.day}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui buttons" style="display: flex; flex-direction:row; ">
                        <div style="flex: 1">
                            <button v-if="showLeft" class="ui labeled icon button" @click="loadLeftDate">
                                <i class="left chevron icon"></i>
                                向前翻
                            </button>
                        </div>

                        <div style="flex: 1">
                            <button v-if="showRight" class="ui right labeled icon button" @click="loadRightDate">
                                向后翻
                                <i class="right chevron icon"></i>
                            </button>
                        </div>

                    </div>
                </div>


                <div class="six wide column">
                    <div v-if="userInfo" class="row">
                        <div v-if="!isToday" class="ui card">
                            <div class="content">
                                <div class="header">${today}</div>
                                <div class="description">
                                    记录今天
                                </div>
                            </div>
                            <div class="ui blue bottom attached button" @click="redirectEdit">
                                <i class="add icon"></i>
                                立即编辑
                            </div>
                        </div>
                        <div v-else class="ui card">
                            <div class="content">
                                <div class="header">${today}</div>
                                <div class="description">
                                    已经记录过了
                                </div>
                            </div>
                            <div class="ui blue bottom attached button" @click="openDetailById(lastId)">
                                <i class="checkmark icon"></i>
                                立即查看
                            </div>
                        </div>
                    </div>

                    <div v-if="userInfo" class="row" style="margin-top: 20px;">
                        <div class="ui card">
                            <div class="content">
                                <img class="ui avatar image" :src="userInfo.Avatar"><a @click="gotoProfile">${userInfo.Nick_name}</a>
                            </div>
                            <div class="content">
                                <div class="ui small horizontal statistic">
                                    <div class="value">
                                        ${postCount}
                                    </div>
                                    <div class="label">
                                        天
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div v-if="city" class="row" style="margin-top: 20px;">
                        <div class="ui card">

                        <div class="content ui middle aligned animated list">
                            <div v-if="city" class="item">
                                <img class="ui avatar image" src="../../static/img/city.png">
                                <div class="content">
                                    <div class="header">${city}</div>
                                </div>
                            </div>
                            <div v-if="weatherInfo" class="item">
                                <img class="ui avatar image" src="../../static/img/weather.png">
                                <div class="content">
                                    <div class="header">${weatherInfo.weatherDesc}</div>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>
    </div>

</div>
<div id="progress-runner" class="ui red bottom attached progress" style="margin-bottom: 2px">
    <div class="bar"></div>
</div>

<script type="text/javascript">

    var curId = {{.curId}};
    var detail = {{.detail}};
    Vue.use(Toasted);

    var today = new Date();
    var thisMonth = today.getMonth() + 1;
    var thispage = new Vue({
        delimiters: ['${', '}'],
        el: '#showpage',
        data: {
            loaded: false,
            passid: '',
            nickname: '',
            avatar_img: '/static/assets/images/avatar/tom.jpg',
            headTitle: '',
            allElements: [], //组件池
            pickDate: '',
            weatherInfo: {},
            city: "",
            allList : [],
            curId: curId,
            detail: detail,
            leftDate: '30000000',
            rightDate: '0',
            showLeft: false,
            showRight: false,
            today: getToday(),
            postCount: 0,
            isToday: false,
            userInfo: false,
            lastId: -1,
        },

        methods: {
            redirectEdit: function () {
                window.location.href = "/edit";
            },
            getmylocation: function () {
                getCityNameByLocation(this.getWeather);
            },
            getWeather: function (city) {
                var _self = this;
                _self.city = city;
                var inputdata = {};
                inputdata["city"] = _self.city;
                $.ajax({
                    type: "GET",
                    url: "/wea",
                    data: inputdata,
                    dataType: "json",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        if (data.ErrNo == 0) {
                            _self.weatherInfo = data.Data[0];
                            _self.city = data.Data[0].city;
                            setCookie("city", _self.city, 2);
                        }
                    },
                });

            },
            assignData: function (data) {
                var _self = this;
                if (data && data.ErrNo == 0 && data.Data[0]) {
                    _self.detail = true;
                    var getData = data.Data[0];
                    _self.curId = getData.Id;
                    var Rel = getData.Rel;
                    var relObj = JSON.parse(Rel);
                    var allContent = JSON.parse(getData.Content);
                    _self.city = relObj.city;
                    _self.weatherInfo = relObj.weather;
                    _self.allElements = allContent;
                    _self.headTitle = getData.Header;
                    _self.pickDate = dateIntToData(getData.Create_date)
                    _self.loaded = true;
                    $('#detail-section').transition('fade up');

                } else {
                    this.$toasted.show("加载数据失败！", {
                        theme: "primary",
                        position: "top-center",
                        duration: 1000,
                    });
                }
                closeProgressRun($('#progress-runner'));

            },
            loadLeftDate: function () {
                autoProgressRun($('#progress-runner'));
                var _self = this;
                loadRecordByDateRange(_self.leftDate, true, this.assignMainData)
            },
            loadRightDate: function () {
                autoProgressRun($('#progress-runner'));
                var _self = this;
                loadRecordByDateRange(_self.rightDate, false, this.assignMainData)
            },
            initData: function (data) {
                var _self = this;
                if (data && data.ErrNo == 0 && data.Data){
                    _self.userInfo = data.Data.User_info;
                    _self.isToday = data.Data.Today;
                    _self.postCount = data.Data.Post_count;
                    _self.lastId = data.Data.Id;
                }else{
                    // _self.userInfo = {'Avatar':"http://orrxp85k4.bkt.clouddn.com/FndyZWARjYthhVxGg8rZtcUfVbZe", "Nick_name":""};
                    this.failData()
                }
            },
            failData: function (data) {
                var msg = "加载数据失败";
                if(!data){
                    msg = data;
                }

                this.$toasted.show(msg, {
                    theme: "primary",
                    position: "top-center",
                    duration: 1000,
                });
                redirectLogin();
                // window.location.href="/user/logintosys";
                return;
            },
            assignMainData: function (data) {
                var _self = this;
                closeProgressRun($('#progress-runner'));

                if (data && data.ErrNo == 0 && data.Data) {
                    var postData = data.Data
                    var postDataList = postData.list
                    if (!postDataList || postDataList.length <= 0 || postData.total == 0){
                        this.$toasted.show("没有更多记录了", {
                            theme: "primary",
                            position: "top-center",
                            duration: 1000,
                        });
                        return;
                    }
                    //asc 是向前 获取日期大的，需要倒叙排列
                    if (postData.order == "asc") {
                        postDataList.reverse();
                    }

                    postDataList.forEach(function (t) {
                        var this_date = t.Create_date / 10000;
                        t.year = parseInt(this_date)
                        var rest = t.Create_date % 10000;
                        t.month = parseInt(rest / 100)
                        t.day = parseInt(rest%100)
                    });

                    var right_Date = postDataList[postDataList.length - 1].Create_date - 1
                    var left_Date = postDataList[0].Create_date + 1
                    //要是向前的 总是有向后按钮
                    if (postData.order == "asc"){
                        _self.showRight = true;
                        if (postDataList.length >= 5){
                        _self.showLeft = true;
                        }else {
                            _self.showLeft = false;
                        }
                    }else{
                        //向后翻 总是有向前按妞
                        _self.showLeft = true;
                        if (postDataList.length >= 5) {
                            _self.showRight = true;
                        }else{
                            _self.showRight = false;
                        }
                    }
                    _self.allList = postDataList;
                    _self.leftDate = left_Date;
                    _self.rightDate = right_Date;
                }
            },
            openCachedDetail: function (element) {
                var _self = this;
                var data = {};
                data["ErrNo"] = 0;
                var list = [];
                list.push(element);
                data["Data"] = list;
                _self.assignData(data);
            },

            openDetailInNewPage: function (id) {
                window.open("/showdetail/"+id);
            },
            gotoProfile :function () {
                window.open("/user/profile", "_self");
            },
            openDetailById:function (id) {
                var _self = this;
                autoProgressRun($('#progress-runner'));
                loadPostData(id, _self.assignData);
            },
            replaceBr: function (input) {
                return input.replace(/\n/g, '<br>')
            }
        },
        computed: {

        },
        created: function () {
            redirectLogin();
            autoProgressRun($('#progress-runner'));
            if(!this.$data.userInfo){
                Init(this.initData, this.failData);
            }
            if(this.$data.detail && this.$data.detail == "true"){
                this.$data.detail = true;
            }

            if(this.$data.detail && this.$data.detail == "false"){
                this.$data.detail = false;
            }
            if(this.$data.detail){
                loadPostData(this.$data.curId, this.assignData);
            }else{
                this.getmylocation();
                loadRecordByDateRange(getToday(), false, this.assignMainData)
            }
        },
        mounted: function () {
            if(this.$data.detail) {
                $('#detail-section').transition('fade up');
            }
        },

    });

    $("#addPara").click(function () {
        thispage.addToElements('para');
        $('#sider-tab').sidebar('hide');
    });

    $("#addImage").click(function () {
        thispage.addToElements('image');
        $('#sider-tab').sidebar('hide');
    });

</script>
